body {
    background-color: rgb(83, 81, 81);
}

.img1, .img2, .img3, .img4 {
    width: 200px;
    height: 200px;
    float: left;
    border-width: 10px;
}

.img1 {
    border: 10px solid red;
    position: fixed;
}

.img2 {
    border: 10px solid blue;
    position: fixed;
    top: 0;
    right: 0;
}

.img3 {
    position: fixed;
    border: 10px solid green;
}

.img4 {
    border: 10px solid yellow;
    position: fixed;
    bottom: 0;
    right: 0;
}
